<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


<ion-list>
  <ion-item (click)="onClick(price.$id)" *ngFor="let price of prices">
    <ion-label >
      {{ price.name }} - {{price.price}}
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="onAddService()">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
