<div class="container-fluid h-100">
  <div class="row mx-auto h-100">
    <div class="col-11 mx-auto d-block align-self-center">
      <div class="row mb-5">
        <div class="col-12 col-md-3 mx-auto">
          <ion-img class="mx-auto mb-sm-5 mb-md-2" style="width: 60%" src="assets/icon/logo-abcplombier.svg"></ion-img>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="mb-3 fs-1">Identifiez-vous</h1>
          <ion-item fill="outline">
            <ion-label position="floating">Email</ion-label>
            <ion-input
              inputmode="text"
              #email
            ></ion-input>
          </ion-item>
          <ion-item fill="outline" class="mt-3">
            <ion-label position="floating">Code PIN</ion-label>
            <ion-input
              inputmode="numeric"
              #password
              type="password"
            ></ion-input>
          </ion-item>
          <ion-label color="danger">{{ error }}</ion-label>
          <ion-button (click)="onLogin()" expand="block" size="m">Se connecter</ion-button>
        </div>
      </div>
    </div>
  </div>
</div>
