<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu [disabled]="!isConnected" contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div class="w-100 text-center mb-4">
            <img style="width: 50%;" src="../assets/icon/logo-abcplombier.svg">
          </div>

          <ion-list-header>
            ABC du Plombier
          </ion-list-header>
          <ion-note>Compte administrateur</ion-note>
          <ion-button (click)="onLogout()" class="mb-4" color="danger" expand="full">Se déconnecter</ion-button>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
