<ion-toolbar>
  <ion-title>{{ !editMode ? 'Ajouter un prix' : 'Modifier un prix' }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismissModal()">Annuler</ion-button>
    <!--    <ion-button (click)="gardenForm.valid && onSave()" *ngIf="gardenForm" [disabled]="!gardenForm.valid">-->
    <ion-button (click)="onSubmit()">
      Valider
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <div class="row">

    <div class="col-12">
      <ion-item-group>
        <ion-item>
          <ion-input [(ngModel)]="name" placeholder="Nom"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="price" type="numeric" placeholder="prix"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-button (click)="onDelete()" *ngIf="editMode" color="danger">Supprimer</ion-button>

    </div>
  </div>
</ion-content>
