<ion-toolbar>
  <ion-title>{{ !editMode ? 'Ajouter un photo' : 'Modifier une photo' }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismissModal()">Annuler</ion-button>
    <ion-button (click)="onSubmit()">
      Valider
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <div class="row h-50">
    <div class="col-12 h-100 mx-auto">
      <img class="mx-auto d-block rounded-3" style="max-height: 100%" id="imagePreview" src="" alt="">
      <img *ngIf="!fileToSend"
           class="mx-auto d-block rounded-3"
           style="max-height: 100%"
           src="assets/camera.webp"
           alt="camera logo">
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="row">
        <div class="col-7 mx-auto text-center">
          <input hidden id="btn-file-upload" (change)="onFileSelected($event)" type="file" accept="image/png, image/jpeg">
          <label class="mx-auto" id="label-upload" for="btn-file-upload">Choose File</label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ion-item>
            <ion-textarea [(ngModel)]="photoComment" rows="4" placeholder="Description"></ion-textarea>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
</ion-content>
