#label-upload {
  background-color: white;
  color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
  padding: 0.8rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
