<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="onAddImage()">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-item *ngFor="let photo of photos" (click)="onPhotoSelected(photo.id)">
  <ion-thumbnail slot="start">
    <img alt="" [src]="photo.imageURL">
  </ion-thumbnail>
  <ion-label>{{ photo.comment }}</ion-label>
</ion-item>
